.photo-grid {
  width: 100%;
  margin: 0;
  padding: 0 48px;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    padding: 0 calc(48 * 100% / 1024);
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    padding: 0 calc(24 * 100% / 768);
  }
}

@media screen and (max-width: 425px) {
  .photo-grid {
    padding: 0 16px;
  }
}
