.intro {
  max-width: 1080px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 0 48px;
  margin: 0;
}

@media screen and (min-width: 1080px) {
  .intro {
    max-width: 984px;
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    padding: 0 24px;
  }
}

@media screen and (max-width: 425px) {
  .intro {
    padding: 0 16px;
  }
}
