.lead__caption {
  grid-area: caption;
  margin: 8px 0 0;
  padding: 0;
  justify-self: start;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}